<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {pageName: 'Catalog'}) %>
<body>
    <%-include('partials/nav.ejs') %>

    <form method="POST" action="/catalog/<%= catalog._id %>?_method=PUT">
        <div class="mb-3">
            <label for="artist" class="form-label">Artist</label>
            <input type="text" class="form-control input" name="artist" value="<%=catalog.artist%>"">
        </div>

        <div class="mb-3">
            <label for="artist" class="form-label">Album</label>
            <input type="text" class="form-control input" name="album" value="<%=catalog.album%>"">
        </div>
       
        <div class="mb-3">
            <label for="Image" class="form-label">Image</label>
            <input type="img" class="form-control input" name="image" value="<%=catalog.image%>"">
        </div>
        
        <div class="mb-3">
            <label for="itemValue" class="form-label">Item Value</label>
            <input type="text" class="form-control input" name="itemValue" value="<%=catalog.itemValue%>"">
        </div>
        
        <div class="mb-3">
            <label for="mediaFormat" class="form-label">Media Format</label>
            <input type="text" class="form-control input" name="mediaFormat" value="<%=catalog.mediaFormat%>"">
        </div>
        <div class="mb-3">
            <label for="releaseYear" class="form-label">Release Year</label>
            <input type="text" class="form-control input" name="releaseYear" value="<%=catalog.releaseYear%>"">
        </div>

        <div class="mb-3">
            <label for="trackList" class="form-label">Track List</label>
            <input type="text" class="form-control input" name="trackList" value="<%=catalog.trackList%>"">
        </div>

        <div class="mb-3">
            <label for="collectorComments" class="form-label">Collector Comments</label>
            <input type="text" class="form-control input" name="collectorComments" value="<%=catalog.collectorComments%>"">
        </div>

        <div class="mb-3">
            <label for="spotifyLink" class="form-label">Spotify Link</label>
            <input type="link" class="form-control input" name="spotifyLink" value="<%=catalog.spotifyLink%>"">
        </div>

        <div class="mb-3">
            <label for="appleMusicLink" class="form-label">Apple Music Link</label>
            <input type="link" class="form-control input" name="appleMusicLink" value=""<%=catalog.appleMusicLink%>"">
        </div>

        <button type="submit" class="button">Edit Item</button>
    
        
    </form>
</body>
</html>