<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageName: 'Catalog' }) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <main class="container">
      <div class="grid">
        <% for(let i = 0; i < catalog.length; i++){ %> <% const album =
        catalog[i] %>
        <div>
            <a href="/catalog/<%= album._id%>"> 
              <img src="<%=album.image%>" class="img-thumbnail album-art" alt="<%=album.name %>">
            </a>
            
            <p><%= album.artist %></p>

            <p><%= album.album %></p> 
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
