<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { pageName: 'Catalog' }) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <main>
      <h1>Catalog</h1>
      <div class="catalog">
        <% for(let i = 0; i < catalog.length; i++){ %> <% const album =
        catalog[i] %>
        <div>
            <a href="/catalog/<%= album._id%>"> <img src="<%=album.image%>" alt="<%=album.name %>"> </a>
            

            <p><%= album.artist %></p>

            <p><%= album.album %></p> 
            
            <a href="/catalog/<%= album._id%>/edit">Edit </a>

            <a href="/catalog/<%= album._id%>">Show </a>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
