<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {pageName: 'Show'}) %>
<body>
    <%-include('partials/nav.ejs') %>
    
<div class="gridShow container">
    
    <div class="left">
        <h1><%=catalogItem.artist%></h1>
        </br>
        <h4><%=catalogItem.album%></h4>
        </br>
        <img src="<%=catalogItem.image%>" class="img-thumbnail album-art" alt="<%=catalogItem.album%>">
        </br>
        </br>
        <h4>Release Year: <%=catalogItem.releaseYear%></h4>
        </br>
        <h4>Current Value: $<%=catalogItem.itemValue%></h4>
        </br>
        <h4>Album Format: <%=catalogItem.mediaFormat%></h4>
        </br>


        <form method="GET" action="/catalog/<%=catalogItem._id%>/edit">

            <button type="submit" class="button">Edit Album</button>
        </form>
        
        <form method="POST" action="/catalog/<%=catalogItem._id%>?_method=DELETE">

            <button type="submit" class="button">Delete Album</button>

        </form>
    </div>

    <div class="middle">
        <h4>Track List</h4>
        <div class="whitebox">
        <% for(let i = 0; i< catalogItem.trackList.length; i++) { %>
            <% const tracks = catalogItem.trackList[i] %>

            <li> <%= tracks %> </li>

        <% } %>
        </div>
    </div>
    
    <div class="right">
        <h4>Collector's Comments</h4>
        <div class="whitebox">
            <p><%=catalogItem.collectorComments%></p>
        </div>
    <br/>
    <br/>
   
        <h4>Music Links</h4>
        <div class="whitebox">
        <a href="<%=catalogItem.spotifyLink%>" target="_blank" class="btn btn-outline-success">Listen on Spotify</a>
     
        <a href="<%=catalogItem.appleMusicLink%>" target="_blank" class="btn btn-outline-primary">Listen on Apple Music</a>
        </div>
    </div>

</div>
<%- include('partials/footer.ejs') %>   
</body>
</html>



