<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', {pageName: 'Show'}) %>
<body>
    <%-include('partials/nav.ejs') %>

<div class="left">
    <h1><%=catalog.artist%></h1>
</br>
    <h4><%=catalog.album%></h4>
</br>
    <img src="<%=catalog.image%>" alt="<%=catalog.album%>">
</br>
    <h4><%=catalog.releaseYear%></h4>
</br>
    <h4><%=catalog.itemValue%></h4>
</br>
    <a href="/catalog/<%=catalog._id%>/edit">Edit Album</a>
</div>
<div><h4><%=catalog.trackList%></h4></div>
<div>
    <h4><%=catalog.collectorComments%></h4>
</br>
    <a href="<%=catalog.spotifyLink%>">Listen on Spotify</a>
</br>
    <a href="<%=catalog.appleMusicLink%>">Listen on Apple Music</a>
</br>
</div>
   
</br>
</body>
</html>

